 *{
    margin: 0;
    padding: 0;
    }
    body {
      margin: 0;
      font-family: Arial, sans-serif;
      background: #ffffff;
    }

    header {
      min-height: 100px;
      background: #5fd3e8;
      color: white;
      font-size: x-large;
      line-height: 100px;
      text-align: center;
      margin: 15px;
    }

    .middle {
      display: flex;
      margin: 15px;
    }
/* -----sidebar using flex-----=---- */
    aside {
      width: 400px;
      background: #a6c76a;
      color: white;
      display: flex;
      font-size: x-large;
      align-items: center;
      justify-content: center;
      margin-right: 10px;
    }

    .content {
      width: 100%;
      display: flex ;
      flex-direction: column;
    }

    .main {
      height: 230px;
      background: #f6c83f;
      color: white;
      font-size: x-large;
      line-height: 90px;
        text-align: center;
      margin-bottom: 10px;
    }

    section {
      height: 100px;
      background: #9a9a9a;
      font-size: x-large;
      color: white;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    footer {
      height: 100px;
      background: #ffa500;
      font-size: x-large;
      color: white;
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 10px;
    }
